/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

.is-drawerActive {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  color: #fff;
  background-color: #555;
}

.header__inner {
  position: relative;
  z-index: 3;
}

.header__logo {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5%;
}

.drawer-button {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 4px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.drawer-button:hover, .drawer-button:focus {
  background-color: radial-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  -webkit-box-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
}

.drawer-button__line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
}

.drawer-button__line::before {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.drawer-button__line::after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.drawer-button[aria-expanded="true"] .drawer-button__line {
  background-color: transparent;
}

.drawer-button[aria-expanded="true"] .drawer-button__line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-button[aria-expanded="true"] .drawer-button__line::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.drawer-menu {
  overflow: hidden;
  z-index: 1;
  width: 100%;
  background-color: #555;
}

.drawer-menu[aria-hidden="true"] {
  display: none;
}

.drawer-menu[aria-hidden="false"] {
  display: none;
}

.drawer-menu__list {
  padding: 2% 5%;
}

.drawer-menu__item {
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-bottom: 1px solid #fff;
}

.drawer-menu__item a {
  color: #fff;
  text-decoration: none;
}

.drawer-menu__item a:hover {
  text-decoration: underline;
}

#hoge {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: linear-gradient(135deg, #fff, #6666E2);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  color: #fff;
  background: linear-gradient(135deg, rgba(153, 153, 153, 0.5), rgba(102, 102, 102, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h1::after {
  position: absolute;
  display: block;
  width: 100%;
  content: 'My JS Components';
  top: -3px;
  left: 49.6%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: linear-gradient(135deg, #fff, #6666E2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.js-accordion-btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 36px;
  text-align: left;
  border: 1px solid #000;
  border-radius: 0;
  cursor: pointer;
}

.js-accordion-btn::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.js-accordion-btn::before, .js-accordion-btn::after {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  display: block;
  width: 20px;
  height: 3px;
  margin: auto;
  content: '';
  background-color: #000;
  border-radius: 10px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.js-accordion-btn[aria-expanded="true"]::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__heading-text {
  font-size: 26px;
}

.js-accordion-details {
  padding: 24px;
  border: 1px solid #444;
  border-top: none;
}

.js-accordion-details[aria-hidden="true"] {
  display: none;
}

.js-accordion-details[aria-hidden="false"] {
  display: none;
}

.accordion__item {
  margin-top: 60px;
}

#tab {
  margin-top: 80px;
}

.tab__content {
  border: 1px solid #e735ca;
}

.tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  cursor: pointer;
}

.tab__item {
  width: 33.33%;
  padding: 20px 0;
  font-size: 20px;
  border-bottom: 1px solid #e735ca;
  -webkit-transition: .2s;
  transition: .2s;
}

.tab__item.is-active {
  border-bottom: none;
  background-color: rgba(231, 53, 202, 0.2);
}

.tab__item + .tab__item {
  border-left: 1px solid #e735ca;
}

.tab {
  display: none;
  padding: 24px;
}

.tab.is-show {
  display: block;
}

body {
  padding-bottom: 120px;
}

.wrapper {
  overflow: hidden;
}

.inner {
  width: 980px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */